@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
body{
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    display: flex;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;

}