@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
body{
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    display: flex;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;


}
#button{
    height: 50px;
    margin-top: 2%;
border-radius: 15%;
    border: red 1px solid;
    background-color: rgba(0, 0, 255, 0.349);
}